<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>API Tags Stackoverflow</title>
  
</head>
<div class="banniere"><img src="static/stack.png"></div>

<body>
  
    <center>
      <h3>Tags suggérés</h3>
 <h3 id="tagsPredits">{{ tags_predits }}</h3>
    <form method="POST">
        <label>Title :  </label>
        <input name="title" value="{{ request.form['title'] }}"><br>
        <label for="message">Question : <textarea name="message">{{request.form['message']}}</textarea></label>
        <input type="submit">
    </form>
  
 
</center>
</body>
</html>